@import '../theme/monokai-octagon.css';

* {
  border: none;
  border-radius: 8px;
  min-height: 0;
  font-family: FiraCode Nerd Font;
  font-size: 12.5px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
  margin-left: 2px;
}

#workspaces button {
  min-width: 0;
  padding: 4px 14px;
  margin: 6px 3px;
  border-radius: 12px;
  background-color: @bg-dark;
  color: @text;
}

#workspaces button.active {
  color: @red;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @bg-dark;
  background-color: alpha(@text, 0.8);
}

/* Resource pills: memory | cpu | gpu */
#memory,
#cpu,
#custom-gpu {
  border-radius: 0px;
  margin: 4px 0px;
  padding: 6px 10px;
  color: @text;
  background-color: @bg-dark;
  min-width: 50px;
}

#memory {
  border-radius: 12px 0px 0px 12px;
}

#cpu {
  margin-left: -2px;
  margin-right: -2px;
}

#custom-gpu {
  border-radius: 0px 12px 12px 0px;
  margin-right: 8px;
}

/* Control pills: tray | network | mic | volume */
#tray,
#network,
#pulseaudio.mic,
#wireplumber {
  border-radius: 0px;
  margin: 4px 0px;
  padding: 6px 10px;
  color: @text;
  background-color: @bg-dark;
  min-width: 50px;
}

#tray {
  border-radius: 0px;
  margin-right: -2px;
}

#network {
  border-radius: 12px 0px 0px 12px;
  margin-right: -2px;
}

#pulseaudio.mic {
  margin-left: -2px;
  margin-right: -2px;
}

#pulseaudio.mic.source-muted {
  color: @dimmed3;
}

#network.disconnected {
  color: @dimmed3;
}

#wireplumber {
  border-radius: 0px 12px 12px 0px;
  margin-right: 4px;
  margin-left: -4px;
}

#clock {
  background-color: @bg-dark;
  border-radius: 12px;
  padding: 6px 13px;
  margin: 4px;
  font-family: "FreeMono";
  font-size: 14px;
  color: @text;
}

#custom-power {
  border-radius: 12px;
  margin: 4px 4px 4px 8px;
  padding: 4px 8px 4px 6px;
  font-size: 14px;
  color: @text;
  background-color: @bg-dark;
}

tooltip, tooltip label {
  padding: 0px;
  background-color: alpha(@bg-dark, 0.9);
  color: @text;
}
